<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello</h1>
    <p>This is a website to hold a portfolio of projects that allows you to view them without signing in. I would like to bid you welcome to my website, and I appreciate you coming!</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
    <% @projects.each do |project| %>
      <div class="row">
        <div class="col-md-4">
          <h1><%= project.title %></h1>
          <p><%= project.description %></p>
          <%= link_to 'View', project, :class => "btn btn-sm btn-outline-info"%>
          <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-sm btn-outline-warning"%>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-outline-danger"%>
        </div>
      </div>
    <% end %> 
  <hr>

</div>

<br>

<%= link_to 'New Project', new_project_path %>
